body{
    background-size: cover;
}
.velocidad{
    float: left;
}
.imagen_de_velocidad{
    width: 300px;
}
#texto_de_velocidad{
    background-color: blue;
    color: red;
}
.volumen{
    float: right;
}
#texto_de_volumen{
    background-color: blue;
    color: red;
}
#boton1{
    background-color: orange;
    font-size: 20px;
}
#boton2{
    background-color: purple;
    font-size: 20px;
}
canvas{
    border: 5px dotted blue
}